body {
    font-family: 'Source Code Pro', monospace;
/*    font-family: 'Teko', sans-serif;*/
}

#myTab {
    margin-top: 1em;
}
.nav-link {
    padding: 0.5rem 1rem !important;;
}


.spinner-parent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 100000;
}
.center-container {
    width: 60px;
    height: 60px;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    /*background-color: rgba(255,255,255,0.7);*/
}

.bg-white {
    background: rgba(255,255,255,0.85)!important;
}

.btn {
/*
    padding: 3.5em 2.5em;
    font-size: 2.7em;
*/
    padding: 1.8em 0.7em;
    font-size: 5rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    box-shadow: 10px 15px 15px 0 rgba(0,0,0,0.33), 0 6px 8px 0 rgba(0,0,0,0.19);
}

.rgbBrightness, .whiteBrightness {
    padding: 1em 0.5em;
    font-size: 0.9rem;
    margin-bottom: 35px;
}

/*#kitchenleft, #kitchenright, */
#diningBtn {
    font-size: 1.5rem;
    padding: 0.5em 0.7em !important;
    margin-bottom: 50px;
}

.col {
    padding-top: 25px;
}

/*
#turnOnBtn {
    font-size: 3em;
}
*/
.row {
    padding-top: 10px;
}

.secondRowSlider {
    padding: 50px 0 15px 0;
}

.diningSlider {
    padding: 15px 10px 15px;
}
.diningWhitePallet {
    padding: 50px 10px 5px;
}

#diningBrightnessSlider .noUi-connect {
    background: #666;
}

#subtitle {
    color: #fff;
    font-size: 1em
}

.navbar-brand {
    font-size: 1.6em;
    font-weight: bold;
}

#btnToggle {
    margin-bottom: 50px;
}

.pickr .pcr-button {
    height: 5em !important;
    width: 5em !important;
    box-shadow: 10px 15px 15px 0 rgba(0,0,0,0.33), 0 6px 8px 0 rgba(0,0,0,0.19);
}

#slider, #wSlider {
    margin: 0 7px;
}

#wSlider .noUi-connect {
    background: #666;
}

#multi {
    display: none;
}

/*.tempHumidityAlign {*/
    /*display: flex;*/
/*}*/

.list-group {
    margin-bottom: 0.5em;
}
/*.mdi-garage {*/
    /*font-size: 2.5em;*/
/*}*/

#garageButton {
/*
    padding: 3.5em 2.5em;
    font-size: 2.7em;
*/
    padding: 0 0 !important;
    /*font-size: 5rem;*/
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    box-shadow: 10px 15px 15px 0 rgba(0,0,0,0.33), 0 6px 8px 0 rgba(0,0,0,0.19);
}

#garageButton:active {
    /*filter: invert(100%);*/
    background-color: #666;
    color: #fff;
}

@media (min-width: 518px) {
    .tabText {
        display: block;
    }

    .tabIcon {
        display: none;
    }
}

@media (max-width: 517px) {
    .tabText {
        display: none;
    }

    .tabIcon {
        padding: 0 0.5em;
    }
}

/*.input-color {*/
    /*position: relative;*/
/*}*/
/*.input-color input {*/
    /*padding-left: 20px;*/
/*}*/
.input-color .color-box, .input-color .basement-color-box {
    width: 4em;
    height: 4em;
    display: inline-block;
    background-color: #ccc;
    /*position: absolute;*/
    left: 5px;
    top: 5px;
    box-shadow: 10px 15px 15px 0 rgba(0,0,0,0.33), 0 6px 8px 0 rgba(0,0,0,0.19);

}

/*CSS Switches */

.onoffswitch-kitchen-large {
    width: 100%;
}

.onoffswitch-inner-kitchen-large {
    width: 300%;
    margin-left: -200%;
}

.onoffswitch-switch-kitchen-large {
    /*messes up on mobile*/
    /*right: 91%;*/
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-kitchen-small {
    width: 100%;
}

.onoffswitch-inner-kitchen-small {
    width: 200%;
    margin-left: -100%;
}

.onoffswitch-switch-kitchen-small {
    /*messes up on mobile*/
    /*right: 83%;*/
    transition: all 0.3s ease-in 0s;
}

.onoffswitch {
    position: relative;
    /*width: 300px;*/
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    /*border: 2px solid #999999; */
    border-radius: 44px;
    margin-bottom: 0px !important;
}
.onoffswitch-inner {
    display: block;
    /*width: 300%;*/
    /*margin-left: -200%;*/
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 75px; padding: 0; line-height: 75px;
    font-size: 24px; color: white;
    /*font-family: Trebuchet, Arial, sans-serif; */
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 20px;
    font-size: 2em;
    background-color: #34A7C1; color: #FFFFFF;
    text-shadow: 10px 15px 15px 0 rgba(0,0,0,0.33), 0 6px 8px 0 rgba(0,0,0,0.19);;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 20px;
    font-size: 2em;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

/*.onoffswitch-inner.left:before {*/
    /*content: "LEFT ON";*/
    /*padding-left: 20px;*/
    /*font-size: 3em;*/
    /*background-color: #34A7C1; color: #FFFFFF;*/
    /*text-shadow: 10px 15px 15px 0 rgba(0,0,0,0.33), 0 6px 8px 0 rgba(0,0,0,0.19);;*/
/*}*/
/*.onoffswitch-inner.left:after {*/
    /*content: "LEFT OFF";*/
    /*padding-right: 20px;*/
    /*font-size: 3em;*/
    /*background-color: #EEEEEE; color: #999999;*/
    /*text-align: right;*/
/*}*/

/*.onoffswitch-inner.right:before {*/
    /*content: "ON";*/
    /*padding-left: 20px;*/
    /*font-size: 2em;*/
    /*background-color: #34A7C1; color: #FFFFFF;*/
    /*text-shadow: 10px 15px 15px 0 rgba(0,0,0,0.33), 0 6px 8px 0 rgba(0,0,0,0.19);;*/
/*}*/
/*.onoffswitch-inner.right:after {*/
    /*content: "OFF";*/
    /*padding-right: 20px;*/
    /*font-size: 2em;*/
    /*background-color: #EEEEEE; color: #999999;*/
    /*text-align: right;*/
/*}*/

.onoffswitch-switch {
    display: block;
    width: 30px;
    margin: 22px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    /*right: 221px;*/
    /*border: 2px solid #999999; */
    border-radius: 44px;
    /*transition: all 0.3s ease-in 0s;*/
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}